@model BangazonWorkforce.Models.Employee

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.firstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.firstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.lastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.lastName)
        </dd>
        </dl>
        <h4>Employee Department</h4>
    <dl>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.employeeDepartment.name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.employeeDepartment.name)
        </dd>
    </dl>
    <h5>Current Computer</h5>
    <dl>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.employeeComputer.make)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.employeeComputer.make)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.employeeComputer.manufacturer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.employeeComputer.manufacturer)
        </dd>
    </dl>
    </dl>

    @if (Model.TrainingPrograms != null)
    {

        <h5>Training Programs</h5>
        @foreach (var TrainingProgram in Model.TrainingPrograms)
        {
            <d1 class="row">
                <dt class="col-sm-2">@Html.DisplayNameFor(ModelItem => TrainingProgram.id) </dt>
                <dd class="col-sm-10"> @Html.DisplayFor(ModelItem => TrainingProgram.id)</dd>

                <dt class="col-sm-2">@Html.DisplayNameFor(ModelItem => TrainingProgram.name) </dt>
                <dd class="col-sm-10"> @Html.DisplayFor(ModelItem => TrainingProgram.name)</dd>
            </d1>
        }
    }


</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    <a asp-action="Index">Back to List</a>
</div>